{% extends 'email/base_email.html.twig' %}

{% block body %}
    {% set resettingLink = param_frontend_base_url ~ 'password-reset/' ~ user.email ~ '/' ~ user.confirmationToken %}

    <!-- Rozpoczęcie tablicy z treścią -->
    <table  border="0" cellpadding="0" cellspacing="0" style="width:100%; font-family: sans-serif; font-size: 14px; color: #10253b; padding:15px 40px 20px 40px;">
        <tr>
            <td style="color:#10253b; font-size:26px;font-weight:700; padding-bottom:15px;">Witaj {{ user.getFullName() }},</td>
        </tr>
        <tr>
            <td style="font-size:14px;">
                Chcesz zresetować hasło do swojego konta na platformie swapcoin.today? Nie ma problemu! Wystarczy, że klikniesz poniższy przycisk:
            </td>
        </tr>
        <tr>
            <td style="padding:20px 0 10px 0; color:#de0e5c;">
                <table border="0" cellpadding="0" cellspacing="0" style="margin:30px 0; width:100%;">
                    <tr>
                        <td style="text-align:center">
                            <a href="{{ resettingLink }}" style="color:#fff; background:#4f54e4; border-radius:5px; padding:12px 20px; text-decoration: none; font-weight:600;">Resetuję hasło</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;">
                Jeśli nie zmieniałeś(-aś) hasła, zignoruj tę wiadomość.
            </td>
        </tr>
    </table>
    <!-- Zakończenie tablicy z treścią -->

    <table  border="0" cellpadding="0" cellspacing="0" style="width:100%; font-family: sans-serif; font-size: 14px; color: #10253b; padding:15px 40px 20px 40px;">
        <tr>
            <td style="font-size:14px;">
                Masz dodatkowe pytania lub wątpliwości? Jesteśmy do Twojej dyspozycji. Wystarczy, że wyślesz wiadomość na support@swapcoin.today.<br /><br />
                Wiadomość została wysłana automatycznie, prosimy na nią nie odpowiadać.
            </td>
        </tr>
    </table>
{% endblock %}
