{% extends 'email/base_email.html.twig' %}

{% block body %}
    <!-- Rozpoczęcie tablicy z treścią -->
    <table  border="0" cellpadding="0" cellspacing="0"
            style="width:100%; font-family: sans-serif; font-size: 14px; color: #10253b; padding:15px 40px 20px 40px;">
        <tr>
            <td style="color:#10253b; font-size:26px;font-weight:700; padding-bottom:15px;">Witaj {{ withdrawal.wallet.user.getFullName() }},</td>
        </tr>
        <tr>
            <td style="font-size:14px;">
                Niestety Twoja ostatnia transakcja na swapcoin.today nie doszła do skutku.
            </td>
        </tr>
        <tr>
            <td style="padding:20px 0 20px 0;">
                <span style="background:#de0e5c; border-radius:5px; padding:5px 10px; color:#fff">Transakcja odrzucona przez system</span>
            </td>
        </tr>
        <tr>
            <td style="font-size:14px;">
                <table border="0" cellpadding="0" cellspacing="0" style="width:320px;">
                    <tr>
                        <td style="border-bottom:1px dashed #9da9bf;">Typ transakcji</td>
                        <td style="border-bottom:1px dashed #9da9bf; text-align:right; font-weight:600; padding:5px;">Wypłata</td>
                    </tr>
                    <tr>
                        <td>Kwota transakcji</td>
                        <td style="text-align:right; font-weight:600; padding:5px;">
                            {{ withdrawal.toPrecision(withdrawal.amount) }} {{ withdrawal.wallet.currency.getShortName() }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Zakończenie tablicy z treścią -->
{% endblock %}
