{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'Not found'|trans }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-t-lg">
                    {{ 'Content not found.'|trans }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}