{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ 'Wallets'|trans }}{% endblock %}

{% block body %}
    {% include 'admin/admin/partial/breadcrumbs.html.twig' with {
        'title': 'Wallet list'
    } only %}

    <div class="wrapper wrapper-content animated fadeInRight" id="walletsAppHandler">
        <div class="row">
            <div class="col-lg-12">
                {% include 'admin/admin/app-views/wallet_list_view.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/admin/app/listModule.js"></script>
    <script src="/admin/app/Controller/WalletListController.js"></script>
    <script src="/admin/app/walletsApp.js"></script>
{% endblock %}